// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Media Queries
// =============================================================================

@mixin respond-to($breakpoint) {
	$breakpoints: (
		phone: 'screen and (max-width: 575px)',
		phone-plus: 'screen and (min-width: 576px)',
		tablet: 'screen and (min-width: 768px) and (max-width: 1024px)',
		small-tablet: 'screen and (min-width: 768px) and (max-width: 991px)',
		tablet-plus: 'screen and (min-width: 1024px)',
		laptop: 'screen and (min-width: 1025px) and (max-width: 1199px)',
		desktop: 'screen and (min-width: 1200px)'
	);

	$breakpoint: map-get($breakpoints, $breakpoint);

	@media #{$breakpoint} {
		@content;
	}
}